<section id="adalabers" class="adalabers wrapper">
  <h2 class="adalabers__title">QUIÉNES SOMOS</h2>
  <div class="adalabers__boxCards">
    <article class="adalabercard odd">
      <include src="./cardAdalaber.html"
      imgSrc="adalaber_alexandra.jpg"
      imgAlt="Alexandra"
      name="Alexandra 'Murdock' López"
      info="La adalaber Alexandra “Murdock” se hacía pasar por Técnico de RRHH,
      realizando misiones secretas en diferentes empresas sin reconocimiento
      alguno. Tras ser abatida por un misil T-Max en una misión y después de
      una larga rehabilitación, decidió cambiar de vida. Esta madre
      luchadora y apasionada de las motos, internada en una eterna fase 0
      debido a la recuperación y a la pandemia, vive con ilusión la
      oportunidad de reinventarse en el mundo de la programación. Inquieta,
      trabajadora y un poco loca, cuenta con una gran capacidad de
      sacrificio en situaciones extremas y está ansiosa por ver que misiones
      y nuevos retos vendrán en el futuro."
      ahrefTw="https://twitter.com/AlexandraLopez"
      ahrefLi="https://www.linkedin.com/in/alexandra-l%C3%B3pez-larrosa-76b109111/"
      ahrefGH="https://github.com/SandraLarrosa"
      ahrefMA="mailto:sandra.larrosa88@gmail.com"
      ></include>
    </article>
    <article class="adalabercard pair">
      <include src="./cardAdalaber.html"
      imgSrc="adalaber_ana_lopez.jpg"
      imgAlt="Ana López"
      name="Ana 'Hannibal' López"
      info="La adalaber Ana, reconocida por ser la cabeza del equipo, la cabeza
      hueca. Tan apasionada del código y lenguaje de programación como lo es
      su personaje con la estrategia bélica. Mente pensante, disfruta en su
      tiempo libre disfrazándose y dedicando tiempo a escribir en redes
      sociales. Acostumbra a usar guantes negros, desde la pandemia Covid-19
      y, como odia el olor del humo de los puros, utiliza un boli bic que
      siempre muerde porque le ayuda a concentrarse."
      ahrefTw="https://twitter.com/DeveloperAna"
      ahrefLi="https://www.linkedin.com/in/ana-l%C3%B3pez-3621911ab/"
      ahrefGH="https://github.com/Analo-pez"
      ahrefMA="mailto:ana.ts.lopez@gmail.com"
      ></include>
    </article>
    <article class="adalabercard odd">
      <include src="./cardAdalaber.html"
      imgSrc="adalaber_alba.png"
      imgAlt="Alba"
      name="Alba 'Fénix' San Martín"
      info="La adalaber Alba, decidió adentrarse en la nueva misión de
      reinventarse profesionalmente cansada del mundo del turismo, aunque no
      de viajar, ya que como su personaje, sabe disfrutar de la buena vida.
      Curiosa y creativa, completó la primera fase de la misión estudiando
      diseño, en la que le surgió el reto de aprender a programar. Amante
      del trabajo en equipo, se encarga de proveer a sus compañeras de
      material difícil de conseguir, pero como el timo no se le da tan bien
      como a Fénix… lo consigue en StackOverflow."
      ahrefTw="https://twitter.com/albsmg"
      ahrefLi="https://www.linkedin.com/in/albasanmartingarcia/"
      ahrefGH="https://github.com/albasmg"
      ahrefMA="mailto:alba.sanmartin.g@gmail.com"
      ></include>
    </article>
    <article class="adalabercard pair">
      <include src="./cardAdalaber.html"
      imgSrc="adalaber_amanda.jpg"
      imgAlt="Amanda Palma"
      name="Amanda 'M.A.' Palma"
      info="La sargenta adalaber Amanda Palma Baracus (A.P. Baracus), detrás de
      sus oros traperos y su actitud aparentemente malhumorada, esconde un
      corazoncito de música y gestora cultural. Harta de la inestabilidad de
      dónde venía, y ávida de evolucionar y vivir nuevas experiencias, tomó
      su furgoneta GMC para poner rumbo hacia el mundo de la programación,
      volando hacia un nuevo y sorprendente universo tecnológico por
      explorar. Volando sin avión, eso sí, que con ellos sí que se lleva
      realmente mal"
      ahrefTw="https://twitter.com/amandapalmaav"
      ahrefLi="https://www.linkedin.com/in/amandapalmaave"
      ahrefGH="https://github.com/amandapalma"
      ahrefMA="mailto:amandapalma00@gmail.com"
      ></include>
    </article>
    <article class="adalabercard odd">
      <include src="./cardAdalaber.html"
      imgSrc="adalaber_ana_fernandez.jpg"
      imgAlt="Ana"
      name="Ana 'AMY' Fernandez"
      info="Me llamo Ana y llegué a Adalab un poco por casualidad, gracias a una
      amiga que me descubrió la programación. Estudié historia y un Máster
      de Estudios de Género y como a Amy Allen me encanta escribir. Ella
      también llegó al A-Team sin sospecharlo, y después de interesarse en
      seguir su historia terminó por convertirse en una más en el equipo.
      Amy es “el fenómeno pitufina” de las series de los ochenta, la chica
      guapa, la cuota de diversidad en un mundo masculino, y sin embargo
      lucha constantemente por mantenerse en primera línea donde suceden las
      cosas, sabe tirarse en paracaídas y le gusta montar a caballo. De
      tanto insistir termina por quedarse. Me recuerda un poco a la manera
      en que quiero enfrentarme a la programación. Sigo siendo una novata
      pero creo que tengo las ganas y la fortaleza para descifrar todo este
      código."
      ahrefTw="https://twitter.com/AnaNordes"
      ahrefLi="https://www.linkedin.com/in/ana-fern%C3%A1ndez-fern%C3%A1ndez-4744781ab/"
      ahrefGH="https://github.com/anafdz92"
      ahrefMA="mailto:anafdz92@gmail.com"
      ></include>
    </article>
  </div>
</section>
