<div class="adalabercard__boximg">
        <img
        src="./assets/images/@@imgSrc"
        alt="@@imgAlt"
        title="@@imgTitle"
        class="adalabercard__boximg--photo"
        />
</div>
<div class="adalabercard__boxinfo">
    <h3 class="adalabercard__boxinfo--name">@@name</h3>
    <p class="adalabercard__boxinfo--info">
        @@info
    </p>
    <div class="adalabercard__boxinfo--icons">
        <a
            href="@@ahrefTw"
            title=Twitter"
            target="_blank"
            >
            <i class="fab fa-twitter icons"></i>
        </a>
        <a
            href="@@ahrefLi"
            title="Linkedin"
            target="_blank"
            >
            <i class="fab fa-linkedin-in icons"></i>
        </a>
        <a
            href="@@ahrefGH"
            title="GitHub"
            target="_blank"
            >
            <i class="fab fa-github-alt icons"></i>
        </a>
        <a
            href="@@ahrefMA"
            title="Correo"
            target="_blank"
            >
            <i class="fas fa-envelope icons"></i>
        </a>
</div>