<footer class="footer">
  <div class="footerMainContent wrapper">
    <p class="footerTeamName">The A-Team © 2020</p>
    <nav class="footerNavigation">
      <ul class="footerNavigationItems">
        <li>
          <a href="#team">EQUIPO</a>
        </li>
        <li>
          <a href="#adalabers">QUIÉNES SOMOS</a>
        </li>
        <li>
          <a href="./form.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <div>
      <img
        src="./assets/images/logo-adalab.png"
        alt="Logo Adalab"
        class="footerLogoAdalab"
      />
    </div>
  </div>
</footer>
