<footer class="footer">
  <div class="footer__mainContent wrapper">
    <p class="footer__teamName">The A-Team © 2020</p>
    <nav class="footer__navigation">
      <ul class="footer__navigationItems">
        <li>
          <a href="#team">EQUIPO</a>
        </li>
        <li>
          <a href="#adalabers">QUIÉNES SOMOS</a>
        </li>
        <li>
          <a href="./form.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <div>
      <img
        src="./assets/images/logo-adalab.png"
        alt="Logo Adalab"
        class="footer__logo"
      />
    </div>
  </div>
</footer>
