<header>
  <div class="hero">
    <div class="hero__imagecontainer">
      <img
        src="./assets/images/hero-nobackground.png"
        alt="The A team"
        title="The A team"
        class="hero__imagecontainer--adjust"
      />
    </div>
  </div>
  <nav class="nav">
    <div class="nav__container wrapper">
      <h1 class="nav__container--headertitle">THE A TEAM</h1>
      <ul class="nav__container--navcontent">
        <li>
          <a href="#team" title="IR A EQUIPO">EQUIPO</a>
        </li>
        <li>
          <a href="#adalabers" title="IR A QUIENES SOMOS">QUIENES SOMOS</a>
        </li>
        <li>
          <a href="#" title="IR A CONTACTO">CONTACTO</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
