<header>
  <div class="hero">
    <div class="hero__imagecontainer">
      <img
        src="./assets/images/hero-nobackground.png"
        alt="The A team"
        title="The A team"
        class="hero__imagecontainer--adjust"
      />
    </div>
  </div>
  <nav class="nav">
    <div class="nav__container wrapper">
      <div class="nav__container--headertitle">
        <a href="./index.html" title="IR A HOME">        
          <img src="./assets/images/logo_a_team.png" alt="The A Team" title="Logo The A Team">
      </div>
      <ul class="nav__container--navcontent">
        <li>
          <a href="./index.html#team" title="IR A EQUIPO">EQUIPO</a>
        </li>
        <li>
          <a href="./index.html#adalabers" title="IR A QUIENES SOMOS">QUIENES SOMOS</a>
        <li>
          <a href="./form.html" title="IR A CONTACTO">CONTACTO</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
