
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Rubik", sans-serif;
$color-primary: #099d8d;
$color-secondary: #14d9d4;
$color-fontPrimary: #54585a;
$color-fontSecondary: #b8b8b9;
$color-background: #f1f1f1;
$color-light: #ffffff;
$color-dark: #000000;