:root {
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Rubik', sans-serif;
  --color-primary: #099d8d;
  --color-secondary: #14d9d4;
  --color-fontPrimary: #54585a;
  --color-fontSecondary: #b8b8b9;
  --color-background: #f1f1f1;
  --color-light: #ffffff;
  --color-dark: #000000;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  color: inherit;
  text-decoration: none;
  margin: 0px;
}

/* html {
  font-family: var(--font-primary);
  font-size: 16px;
} */


/* HEADER */

.headerMain {
  font-family: var(--font-secondary);
  color: var(--color-light);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  background: url(../images/Captura\ de\ pantalla\ 2020-05-29\ a\ las\ 11.24.33.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.headerTeam {
  background-color: var(--color-primary);
  font-size: 16px;
  line-height: 30px;
  opacity: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headerButtoms {
  background-color: var(--color-secondary);
  line-height: 30px;
  opacity: 90%;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: baseline;
  padding: 0px;

}

.headerButtoms li {
  display: inline-block;
}

/* HERO Y ABOUT US */

.quote {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  color: var(--color-dark);
  height: 80px;
  padding-top: 14px;
  padding-bottom: 16px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(0%, -150%);
  background-color: var(--color-light);
}
.team {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 76px;
  margin-bottom: 30px;
}
.team h1 {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.team p {
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-fontPrimary);
  text-align: center;
  line-height: 1.5;
}

/* STRENGTHS WEAKNESSES */

.aboutUsRectangle {
  background-color: var(--color-light);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.aboutUsStrengthsWeaknesses {
  background-color: var(--color-background);
  padding-right: 15px;
  padding-bottom: 45px;
  padding-left: 15px;

}

.aboutUsStrengthsWeaknesses div {
  padding-top: 30px;
  line-height: 1.5;

}

.aboutUsStrengthsWeaknesses h2 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  text-align: center;

}

.aboutUsStrengthsWeaknesses p {
  font-family: var(--font-primary);
  color: var(--color-fontPrimary);
  text-align: center;

}
 
   /*ADALABERS SECTION*/  
   
.adalaberSection{
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
}

.adalabersTittle{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-secondary);
    display: inline-block;
    margin-top: 30px;
}
.adalabersBoxContent {
    display: flex;
    flex-direction: column;
}

.adalabersBox {
    display: flex;
    flex-direction: column;
}
/*Para la versión escritorio y tablet:
Poner en el padre .boxAdalaber flex-direction: row
Poner en el hijo .pair flex-direction: row-reverse
.pair {
    flex-direction: row-reverse;
} 
*/

.adalabersBoxImg{
  width: 190px;
  height: 190px;
  border: 5px solid var(--color-background);
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 15px;
}

.adalabersImg{
  width: 180px;
  height: 180px;
  border-radius: 4px;
}


.adalabersBoxInfo{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.adalabersName{
  font-family: var(--font-primary);
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;;
}

.adalabersInfo{
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--color-fontPrimary);
  font-family: var(--font-primary);
  margin: 15px;
}

.adalabersIconsRRSS{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 15px;
  color: var(--color-primary);
  font-size: 16px;
}

.fab, .fas{
display: inline-block;
font-size: 16px;

}

.fab:after{
    content: "·";
    margin: 8px;
    font-weight: bold;
}

/* FOOTER */

/* TODO: add css variables  */

.footer {
  background: var(--color-light);
  font-family: Open Sans;
  box-sizing: border-box;
  border-top: solid 1px var(--color-fontSecondary);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerTeamName {
  font-size: 14px;
  color: var(--color-fontSecondary);
  margin-top: 30px;
  text-align: center;
}

.footerNavigation {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.75;
  line-height: 1.43;
  color: #54585a;
  text-align: center;
  margin-top: 20px;
}

.footerNavigationItems {
  list-style-type: none;
  padding: 0px;
}

.footerNavigationItems a {
  color: inherit;
  text-decoration: inherit;
}

.footerLogoAdalab {
  width: 115.9px;
  height: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 45px;
}
