.footer {
  width: 100%;
  border-top: solid 1px $color-fontSecondary;
  font-size: 14px;

  &__mainContent {
    background: $color-light;
    font-family: Open Sans;
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;

    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: flex-start;
      padding-right: 45px;
      padding-left: 45px;
      height: 170px;
    }
  }

  &__teamName {
    color: $color-fontSecondary;
    margin-top: 30px;
    text-align: center;

    @media all and (min-width: 768px) {
      width: 50%;
      text-align: left;
    }
  }

  &__navigation {
    font-weight: 600;
    opacity: 0.75;
    line-height: 1.43;
    color: $color-fontPrimary;
    text-align: center;
    margin-top: 20px;

    @media all and (min-width: 768px) {
      width: 50%;
      text-align: right;
      margin-top: 30px;
      grid-row: span 2;
      justify-self: end;
    }
  }

  &__navigationItems {
    list-style-type: none;
    padding: 0px;

    @media all and (min-width: 768px) {
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }

  &__logo {
    width: 115.9px;
    height: 45px;
    //justify-self: stretch;
    margin-top: 30px;
    margin-bottom: 45px;

    @media all and (min-width: 768px) {
      margin-top: 15px;
      justify-self: start;
    }
  }
}
