
.footer {
  width: 100%;
  height: 1px;
  border-top: solid 1px $color-fontSecondary;
  font-size: 14px;
}

.footerMainContent {
  background: $color-light;
  font-family: Open Sans;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerTeamName {
  color: $color-fontSecondary;
  margin-top: 30px;
  text-align: center;
}

.footerNavigation {
  font-weight: 600;
  opacity: 0.75;
  line-height: 1.43;
  color: $color-fontPrimary;
  text-align: center;
  margin-top: 20px;
}

.footerNavigationItems {
  list-style-type: none;
  padding: 0px;
}

.footerNavigationItems a {
  color: inherit;
  text-decoration: inherit;
}

.footerLogoAdalab {
  width: 115.9px;
  height: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 45px;
}


/* MEDIAQUERIES */

@media all and (min-width: 768px) {


  .footerMainContent {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 45px;
    padding-left: 45px;
  }

  .footerTeamName {
    width: 50%;
    text-align: left;
  }

  .footerNavigation {
    width: 50%;
    text-align: right;
    margin-top: 30px;
  }

  .footerNavigationItems {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footerLogoAdalab {
    margin-top: 15px;
    transform: translate(-10px, -60px);
  }
}
