/* HEADER */

.hero {
  height: 421px;
  position: relative;
  background-image: url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  background-position: 50% 3%;
  object-fit: contain;

  @media all and (min-width: 768px) {
    height: 421px;
  }

  &__imagecontainer {
    opacity: 1;
    width: 100%;
    height: 300px;
    max-width: 1200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    @media all and (min-width: 768px) {
      transform: translate(-50%, -15%);
    }

    &--adjust {
      width: 100%;
      height: 100%;
      margin: auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      object-fit: contain;
    }
  }
}

.nav {
  position: fixed;
  z-index: 999;
  font-family: $font-secondary;
  color: $color-light;
  background-color: $color-primary;
  width: 100%;
  top: 0;

  @media all and (min-width: 768px) {
    background-color: $color-primary;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
      flex-direction: row;
      height: 60px;
    }

    &--headertitle {
      margin: auto;
      width: 170px;
      padding: 10px;
      img {
        width: 100%;
      }

      @media all and (min-width: 768px) {
        width: 140px;
      }
    }

    &--navcontent {
      font-size: 15px;
      opacity: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      width: 100%;
      height: 45px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: $color-secondary;

      & li {
        :hover {
          background-color: $color-primary;
          transition: background-color ease 0.8s;
          //opacity: 0.7;
          //transition: opacity ease 0.8s;
        }
        & a {
          padding: 15px;
        }
        @media all and (min-width: 768px) {
          padding-left: 19px;
          background-color: $color-primary;
          :hover {
            background-color: $color-secondary;
            transition: background-color ease 0.8s;
            //opacity: 0.7;
            //transition: opacity ease 0.8s;
          }
        }
      }

      @media all and (min-width: 768px) {
        background-color: $color-primary;
        margin-right: 45px;
        margin-bottom: 14px;
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }
    }
  }
}
