/* ABOUT US */

.lema__Ateam {
  position: relative;
}

.quote {
  background-color: $color-light;
  height: 80px;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  color: $color-dark;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(0%, -120%);
  padding: 14px 15px 16px 0px;
  margin: 0px 15px;
  animation-duration: 1s;
  animation-name: quoteFadeIn;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  @keyframes quoteFadeIn {
    from {
      opacity: 0%;
    }
    to {
      opacity: 80%;
    }
  }

  @media all and (min-width: 768px) {
    background-color: $color-background;
    width: 441px;
    transform: translate(20%, -187%);
    padding-top: 30px;
    opacity: 80%;
  }
  @media only screen and (min-width: 1200px) {
    background-color: $color-background;
    width: 574px;
    height: 90px;
    transform: translate(20%, -176%);
    padding-top: 40px;
  }
}

.team {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 70px 15px 45px 15px;
  padding-top: 20px;
  padding-bottom: 30px;

  @media only screen and (min-width: 1200px) {
    width: 1200px;
    height: 357px;
  }

  h2 {
    color: $color-secondary;
    font-family: $font-secondary;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
    
    @media all and (min-width: 768px) {
      color: $color-primary;
    }
    @media all and (min-width: 1200px) {
      margin-top: 0px;
    }
  }

  p {
    font-family: $font-primary;
    font-size: 16px;
    color: $color-fontPrimary;
    text-align: center;
    line-height: 1.5;
    opacity: 67%;
  }
}

@media only screen and (min-width: 1200px) {
  .team__Text {
    width: 601px;
    height: 192px;
    margin-left: 299px;
  }
}

/* STRENGTHS_WEAKNESSES */

.aboutUs__StrengthsWeaknesses {
  background-color: $color-background;
  padding: 0px 15px 45px 15px;
  position: relative;

  @media all and (min-width: 768px) {
    padding: 45px 30px 60px 30px; /* suma de padding left aquí (30px) + margin de los div (15px) da los 45 de los lados */
  }

  @media only screen and (min-width: 1200px) {
    padding-left: 111.5px;
    padding-right: 111.5px;
  }

  &--Boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media all and (min-width: 768px) {
      flex-direction: row;
    }

    @media only screen and (min-width: 1200px) {
      width: 920px;
      margin: 0 auto;
    }

    div {
      padding-top: 30px;
      line-height: 1.5;

      @media all and (min-width: 768px) {
        padding: 0px 15px;
      }

      @media only screen and (min-width: 1200px) {
        margin: 0px 22.5px;
      }

      p {
        font-family: $font-primary;
        color: $color-fontPrimary;
        text-align: center;

        @media all and (min-width: 768px) {
          margin-top: 15px;
        }
      }
    }

    h2 {
      color: $color-primary;
      font-family: $font-secondary;
      font-size: 22px;
      text-align: center;
    }
  }
}

.aboutUs__Rectangle {
  background-color: $color-light;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
