:root{
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Rubik', sans-serif;
    --color-primary: #099d8d;
    --color-secondary: #14d9d4;
    --color-fontPrimary: #54585a;
    --color-fontSecondary: #b8b8b9;
    --color-background: #f1f1f1;
    --color-light: #ffffff;
    --color-dark: #000000;
}

.adalaberSection{
    display: flex;
    flex-direction: column;
}

.adalabersTittle{
    font-size: 24px;
    text-align: center;
}
.adalabersBoxContent {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.adalabersBox {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
}
/*Para la versión escritorio y tablet:
Poner en el padre .boxAdalaber flex-direction: row
Poner en el hijo .pair flex-direction: row-reverse
.pair {
    flex-direction: row-reverse;
} */

.adalabersBoxImg{
    width: 180px;
    height: 180px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

.adalabersImg{
    width: 180px;
    height: 180px;
}
.adalabersBoxInfo{
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}
.adalabersName{
    font-size: 20px;
    text-align: center;
}

.adalabersInfo{
    font-size: 16px;
    text-align: center;
}
.adalabersIconsRRSS{
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
}

